{% extends 'patient-app/patient_base.html' %}
{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <style>
        .patient_photo_image a{
            display: none;
        }
    </style>

    <!-- bootstrap css-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- bootstrap js-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

    
</head>

<body>

    {% block dash-content %}
    <div class="row mt-2">
        <h4 class="display-6 text-center">Profile</h4>

        <form class="mt-2" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="row col-sm-12 d-flex justify-content-around align-items-center fw-semibold">

                <div class="bg-body-tertiary col-lg-3 col-md-4 col-sm-5 col-10 d-flex flex-column justify-content-center align-items-center mb-3" style="align-self: flex-start;">
                    <p class="text-center" for="photo_upload" style="font-weight: normal;">Photo</p>
                    {% if patient.photo %}
                    <img src="/media/{{ patient.photo }}" class="card-img-top img-thumbnail rounded rounded-pill mx-auto d-block my-2" alt="...">
                    {% endif %}
                    <div class="input-group mb-3">
                        <input type="file" class="form-control-sm" id="photo_upload" name="photo">
                    </div>
                </div>

                <div class="col-lg-6 col-sm-12 col-12 d-flex flex-column justify-content-center align-items-center">
                    <div class="form-floating col-md-12 col-sm-12 col-12 mb-3">
                        {% render_field user_form.first_name class="form-control" id="first_name" placeholder="" %}
                        <label class="mx-2" for="first_name">First Name</label>
                        {% if user_form.first_name.errors %}
                        {% for error in user_form.first_name.errors %}
                        <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating col-md-12 col-sm-12 col-12 mb-3">
                        {% render_field user_form.last_name class="form-control" id="last_name" placeholder="" %}
                        <label class="mx-2" for="last_name">Last Name</label>
                        {% if user_form.last_name.errors %}
                        {% for error in user_form.last_name.errors %}
                        <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>

                    <div class="form-floating col-md-12 col-sm-12 col-12 mb-2">
                        {% render_field patient_form.address class="form-select" id="address" placeholder="" style="height: 10%;" %}
                        <label class="mx-2" for="address">Address </label>
                        {% if patient_form.address.errors %}
                        {% for error in patient_form.address.errors  %}
                        <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                        {% endfor %}
                        {% endif %}
                    </div>

                </div>

            </div>

            <div class="row d-flex justify-content-between align-items-center fw-semibold">
    
                <div class="form-floating col-lg-6 col-md-6 col-sm-6 mb-4">
                    {% render_field patient_form.age class="form-select" id="Age" placeholder="in yrs" %}
                    <label class="mx-2" for="address">age </label>
                    {% if patient_form.age.errors %}
                    {% for error in patient_form.age.errors  %}
                    <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
    
                <div class="form-floating col-lg-6 col-md-6 col-sm-6 mb-4">
                    {% render_field patient_form.gender class="form-select" id="gender" placeholder="" %}
                    <label class="mx-2" for="gender">Gender </label>
                    {% if patient_form.gender.errors %}
                    {% for error in patient_form.gender.errors  %}
                    <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
    
                <div class="form-floating col-lg-6 col-md-6 col-sm-6 mb-4">
                    {% render_field patient_form.height class="form-select" id="height" placeholder="in cms" %}
                    <label class="mx-2" for="height">Height </label>
                    {% if patient_form.height.errors %}
                    {% for error in patient_form.height.errors  %}
                    <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
    
                <div class="form-floating col-lg-6 col-md-6 col-sm-6 mb-4">
                    {% render_field patient_form.weight class="form-select" id="weight" placeholder="in kgs" %}
                    <label class="mx-2" for="weight">Weight </label>
                    {% if patient_form.weight.errors %}
                    {% for error in patient_form.weight.errors  %}
                    <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
    
                <div class="form-floating col-lg-6 col-md-6 col-sm-6 mb-4">
                    {% render_field patient_form.previous_illness class="form-select" id="previous_illness" placeholder="eg common cold" style="height: 10%;" %}
                    <label class="mx-2" for="previous_illness">Previous illness - if any</label>
                    {% if patient_form.previous_illness.errors %}
                    {% for error in patient_form.previous_illness.errors  %}
                    <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
    
                <div class="form-floating col-lg-6 col-md-6 col-sm-6 mb-4">
                    {% render_field patient_form.chronic_diseases class="form-select" id="chronic_diseases" placeholder="eg diabetes,hypertension" style="height: 10%;" %}
                    <label class="mx-2" for="chronic_diseases">Chronic diseases - if any </label>
                    {% if patient_form.chronic_diseases.errors %}
                    {% for error in patient_form.chronic_diseases.errors  %}
                    <span><i class="fa-solid fa-circle-info fa-sm" style="color: #8B0000;"></i> {{ error }}</span>
                    {% endfor %}
                    {% endif %}
                </div>
    
    
                <div class="mt-5  col-md-12 d-flex justify-content-center align-items-center">
                    <button type="submit" class="btn shadow rounded fs-5 px-5"
                        style="background-color: #b1f9d1;">Update</button>
                </div>

            </div>
            

        </form>

    </div>

    {% endblock dash-content %}
    

</body>

</html>