{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Health Guardian</title>

    <!-- bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


</head>

<body>
    <!-- nav bar -->
    <nav id="navbar" class="mb-5 navbar fixed-top navbar-expand-lg nav-underline " style="background-color: #C4164C;"
        data-bs-theme="dark">
        <div class="container-fluid">
            <a class="navbar-brand fw-bolder" href="#home">HealthGuardian
                <i class="ms-1 fa-solid fa-heart-pulse fa-beat"
                    style="--fa-animation-duration: 4s; color: #ffffff;"></i>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end fw-semibold" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-link " href="{% url 'app_home' %}#home">Home</a>
                    <a class="nav-link " href="{% url 'app_home' %}#features">Features</a>
                    <a class="nav-link " href="{% url 'app_home' %}#search_doctors">Find Doctors</a>
                    <a class="nav-link " href="{% url 'app_home' %}#search_hospitals">Find Hospitals</a>
                    <a class="nav-link " href="{% url 'app_home' %}#contact_us">Contact Us</a>
                    <!-- <a class="nav-link disabled" aria-disabled="true">Disabled</a> -->
                    <!-- login -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Login as
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'patient_login' %}">Patient
                                    <i class="ms-1 fa-solid fa-hospital-user fa-sm" style="color: #ffffff;"></i>
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'doctor_login' %}">Doctor
                                    <i class="ms-1 fa-solid fa-user-doctor fa-sm" style="color: #ffffff;"></i>
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'admin_login' %}">Admin
                                    <i class="ms-1 fa-solid fa-user-tie fa-sm" style="color: #ffffff;"></i>
                                </a>
                            </li>
                        </ul>
                    </li>

                    <!-- signup -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Signup as
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'patient_signup' %}">Patient
                                    <i class="ms-1 fa-solid fa-hospital-user fa-sm" style="color: #ffffff;"></i>
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'doctor_signup' %}">Doctor
                                    <i class="ms-1 fa-solid fa-user-doctor fa-sm" style="color: #ffffff;"></i>
                                </a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'admin_signup' %}">Admin
                                    <i class="ms-1 fa-solid fa-user-tie fa-sm" style="color: #ffffff;"></i>
                                </a>
                            </li>
                        </ul>
                    </li>
                </div>
            </div>
        </div>
    </nav>

    {% block content %}


    <!-- intro-content -->
    <div id="home" class="my-5 container-fluid">
        <div class="mt-3 row row-gap-3 d-flex justify-content-center">
            <div class="col-md-6 d-flex flex-column justify-content-evenly align-items-center container-fluid">
                <h1 class="text-align-center display-3">Welcome to <span style="color: #D61F69">HealthGuardian</span>
                </h1>


                <h2 class="h2 text-align-center fw-bolder">Empowering You to Take Charge of Your Health - <span
                        class="h2 fs-6 text-align-center " style="color: #D61F69">At HealthGuardian, we believe that
                        proactive health management is the key
                        to a happier and healthier life. Our comprehensive web application is designed to make managing
                        your
                        health easier and more convenient than ever before.
                    </span> </h2>
            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="{% static 'assets/health_guardian_gif image.gif' %}" alt="">
            </div>
        </div>
    </div>

    <!-- features-content -->
    <h3 id="features" class="h3 display-5 text-center">Features</h3>
    <div class="container-fluid">
        <div class="row  d-flex justify-content-evenly row-gap-3">
            <div class="shadow bg-body-tertiary col-xl-2 col-lg-3 col-md-4 card col-sm-5 col-8">
                <img src="{% static 'assets/healthcare_8507088.png' %}"
                    class="card-img-top img-thumbnail rounded mx-auto d-block" style="width: 70%;" alt="...">
                <div class="card-body container-fluid">
                    <h5>Predict Diseases</h5>
                    <p class="card-text">Cutting-edge ML model predicts diseases from symptoms. Empowering proactive
                        health management by forecasting ailments based on patient inputs.</p>
                </div>
            </div>
            <div class="shadow bg-body-tertiary col-xl-2 col-lg-3 col-md-4 card col-sm-5 col-8">
                <img src="{% static 'assets/agenda_6610130.png' %}"
                    class="card-img-top img-thumbnail rounded mx-auto d-block" style="width: 70%;" alt="...">
                <div class="card-body container-fluid">
                    <h5>Book Appointmnets</h5>
                    <p class="card-text">Simplify healthcare with easy appointment booking. Seamlessly schedule
                        appointments, ensuring convenient access to medical care for everyone.</p>
                </div>
            </div>
            <div class="shadow bg-body-tertiary col-xl-2 col-lg-3 col-md-4 card col-sm-5 col-8">
                <img src="{% static 'assets/discussion_8319789.png' %}"
                    class="card-img-top img-thumbnail rounded mx-auto d-block" style="width: 70%;" alt="...">
                <div class="card-body container-fluid">
                    <h5>Consult Health Professionals Online</h5>
                    <p class="card-text">Connect anytime, anywhere with video consultations. Receive personalized
                        medical advice from experts without leaving your home.</p>
                </div>
            </div>
            <div class="shadow bg-body-tertiary col-xl-2 col-lg-3 col-md-4 card col-sm-5 col-8">
                <img src="{% static 'assets/herbal_8507106.png' %}"
                    class="card-img-top img-thumbnail rounded mx-auto d-block" style="width: 70%;" alt="...">
                <div class="card-body container-fluid">
                    <h5>Diet charts and Precautions</h5>
                    <p class="card-text">Stay ahead with personalized precautions and diet charts. Tailored plans based
                        on predicted diseases for proactive health management.</p>
                </div>
            </div>
            <div class="shadow bg-body-tertiary col-xl-2 col-lg-3 col-md-4 card col-sm-5 col-8">
                <img src="{% static 'assets/support_8748019.png' %}"
                    class="card-img-top img-thumbnail rounded mx-auto d-block" style="width: 70%;" alt="...">
                <div class="card-body container-fluid ">
                    <h5>Assistant Support</h5>
                    <p class="card-text">Instant support with our AI health chatbot. Get answers to your health queries
                        anytime, guiding you towards well-being.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Find Doctors -->
    <div class="mt-5 row container-fluid d-flex flex-wrap justify-content-center align-items-center">
        <div class="col-lg-8 g-2">
            <h3 id="search_doctors" class="my-4 h3 display-5 text-center">Search Doctors near by</h3>

            <form action="" method="post" class="w-90 d-flex flex-column justify-content-center align-items-center">
                <div class="mb-4 col-md-8 col-sm-10 col-10">
                    <label for="select_state">Select State</label>
                    <select id="select_state" class="form-select">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class=" mb-4 col-md-8 col-sm-10 col-10">
                    <label for="select_district">Select District</label>
                    <select id="select_district" class="form-select">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="mb-4 col-md-8 col-sm-10 col-10">
                    <label for="select_specialisation">Select Specialisation</label>
                    <select id="select_specialisation" class="form-select">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="mb-4 col-md-8 col-sm-10 col-12 d-flex justify-content-center">
                    <button type="button" class="w-50 text-center btn fw-semibold fs-5 shadow rounded"
                        style="background-color: #54CAFA;">Search <i
                            class="fa-solid fa-magnifying-glass fa-sm"></i></button>
                </div>
            </form>

        </div>

        <div class="col-lg-4 col-md-6 text-center">
            <img class="img-fluid" src="{% static 'assets/doctor_search.gif' %}" alt="">
        </div>

    </div>

    <!-- Doctors list -->
    <div class="px-5 my-3 container-fluid">
        <div class="row gap-2 d-flex justify-content-evenly row-gap-3">

            <!-- iterate the below div -->
            <!-- <div class="shadow bg-body-tertiary col-xl-2 col-lg-3 col-md-4 card col-sm-5 col-8">
                <img src="{% static 'assets/profile_image.jpg' %}" class="card-img-top img-thumbnail rounded mx-auto d-block" alt="...">
                <div class="card-body container-fluid">
                    <h5>Doctor Name</h5>
                    <h6>Specialisation</h6>
                    <p class="card-text">Clinic Address</p>
                    <p class="card-text">Consultation Timings</p>
                </div>
            </div> -->

        </div>
    </div>

    <!-- Find Hospitals -->
    <div id="search_hospitals" class="row container-fluid d-flex flex-wrap justify-content-center align-items-center">

        <div class="col-lg-4 col-md-6 text-center">
            <img class="img-fluid" src="{% static 'assets/search_hospital_image.gif' %}" alt="">
        </div>

        <div class="col-lg-8 g-2">
            <h3 class="my-4 h3 display-5 text-center">Search Hospitals near by</h3>

            <form action="" method="post" class="w-90 d-flex flex-column justify-content-center align-items-center">
                <div class="mb-4 col-md-8 col-sm-10 col-10">
                    <label for="select_state">Select State</label>
                    <select id="select_state" class="form-select">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class=" mb-4 col-md-8 col-sm-10 col-10">
                    <label for="select_district">Select District</label>
                    <select id="select_district" class="form-select">
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="mb-4 col-md-8 col-sm-10 col-12 d-flex justify-content-center">
                    <button type="button" class="w-50 text-center btn fw-semibold fs-5 shadow rounded"
                        style="background-color: #54CAFA;">Search <i
                            class="fa-solid fa-magnifying-glass fa-sm"></i></button>
                </div>
            </form>

        </div>

    </div>


    <!-- Hospital list -->
    <div class="my-3 container-fluid">
        <div class="row gap-2 d-flex justify-content-evenly row-gap-3">

            <!-- iterate the below div -->
            <!-- <div class="shadow bg-body-tertiary col-xl-2 col-lg-3 col-md-4 card col-sm-5 col-8">
                <img src="{% static 'assets/profile_image.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body container-fluid">
                    <h5>Hospital Name</h5>
                    <p class="card-text">Address</p>
                    <p class="card-text">Contact</p>
                </div>
            </div> -->

        </div>
    </div>


    <!-- Contact Us -->
    <div class="container-fluid">
        <div class="mt-5 row container-fluid d-flex flex-wrap justify-content-center align-items-center">
            <div class="col-lg-4 col-md-6 col-sm-8">
                <img class="img-fluid" src="{% static 'assets/contact_girl.jpg' %}" alt="">
            </div>

            <div id="contact_us" class="col-lg-8">
                <h3 id="search_doctors" class="my-4 h3 display-5 text-center">Contact Us</h3>

                <form action="" method="post"
                    class="w-100 d-flex flex-column justify-content-center align-items-center">
                    <div class="mb-4 col-md-8 col-sm-10 col-12">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="floatingInput" placeholder="First Name"">
                        <label for=" floatingInput">First Name</label>
                        </div>
                    </div>

                    <div class="mb-4 col-md-8 col-sm-10 col-12">
                        <div class="form-floating mb-2">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Last Name"">
                        <label for=" floatingInput">Last Name</label>
                        </div>
                    </div>
                    <div class="mb-4 col-md-8 col-sm-10 col-12">
                        <div class="form-floating mb-2">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                    </div>
                    <div class="mb-2 col-md-8 col-sm-10 col-12">
                        <div class="form-floating">
                            <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"
                                style="height: 100px"></textarea>
                            <label for="floatingTextarea2">Comments</label>
                        </div>
                    </div>

                    <div class="mb-2 col-md-8 col-sm-10 col-12 d-flex justify-content-center">
                        <button type="button" class="w-50 text-center btn fw-semibold fs-5 shadow rounded"
                            style="background-color: #C4164C; color: white;">Send <i
                                class="fa-solid fa-envelope fa-md"></i></button>
                    </div>
                </form>


            </div>
        </div>
    </div>


    {% endblock content %}

    <!-- footer -->
    <footer class="pb-5  container-fluid" style="background-color: #C4164C; color: white; font-size: 14px;">
        <div class="row mt-4 py-5 px-5">
            <div class="col-lg-3 col-sm-6 container-fluid mb-3">
                <p class="fw-semibold text-decoration-underline lh-2">HealthGuardian</p>
                <a class="nav-link " href="{% url 'app_home' %}#home">Home</a>
                <a class="nav-link " href="{% url 'app_home' %}#features">Features</a>
                <a class="nav-link " href="{% url 'app_home' %}#search_doctors">Find Doctors</a>
                <a class="nav-link " href="{% url 'app_home' %}#search_hospitals">Find Hospitals</a>
                <a class="nav-link " href="{% url 'app_home' %}#contact_us">Contact Us</a>
            </div>
            <div class="col-lg-3 col-sm-6 container-fluid mb-3">
                <p class="fw-semibold text-decoration-underline lh-2">For Patients</p>
                <a class="nav-link active" href="#">Predict Disease</a>
                <a class="nav-link" href="#">Appointment Booking</a>
                <a class="nav-link" href="#">Consult Doctors</a>
                <a class="nav-link" href="#">Prepare Diet Charts and Precautions</a>
                <a class="nav-link" href="#">Personalized Chat Bot Assistant</a>

            </div>
            <div class="col-lg-3 col-sm-6 container-fluid mb-3">
                <p class="fw-semibold text-decoration-underline lh-2">For Doctors</p>
                <a class="nav-link active" href="#">Doctor Profile</a>
                <a class="nav-link" href="#">Manage Patients</a>
                <a class="nav-link" href="#">Patient Consultation</a>
                <a class="nav-link" href="#">Manage Appointmnets</a>
            </div>
            <div class="col-lg-3 col-sm-6 container-fluid mb-3">
                <p class="fw-semibold text-decoration-underline lh-2">Social</p>
                <a class="nav-link active" href="#">Meta <i class="fa-brands fa-facebook fa-lg"
                        style="color: #ffffff;"></i></a>
                <a class="nav-link" href="#">Instagram <i class="fa-brands fa-instagram fa-lg"
                        style="color: #ffffff;"></i></a>
                <a class="nav-link" href="#">Twitter <i class="fa-brands fa-twitter fa-lg"
                        style="color: #ffffff;"></i></a>
                <a class="nav-link" href="#">Github <i class="fa-brands fa-github fa-lg"
                        style="color: #ffffff;"></i></a>
            </div>
        </div>

        <div class="col-md-12 text-center">
            <a class="nav-link fs-4 fw-bolder" href="#home">HealthGuardian
                <i class="ms-1 fa-solid fa-heart-pulse fa-beat"
                    style="--fa-animation-duration: 4s; color: #ffffff;"></i>
            </a>
        </div>

        <div class="col-md-12 text-center">
            <p>Copyright © <span id="year"></span>, HealthGuardian. All rights reserved.</p>
        </div>

    </footer>









    <!-- font awesome -->
    <script src="https://kit.fontawesome.com/33cd46dea5.js" crossorigin="anonymous"></script>

    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


    <!-- index page script -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const navLinks = document.querySelectorAll(".nav-link");

            navLinks.forEach(function (navLink) {
                navLink.addEventListener("click", function (event) {
                    navLinks.forEach(function (link) {
                        link.classList.remove("active");
                    });
                    this.classList.add("active");
                });
            });
        });

        document.querySelectorAll('a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();

                document.querySelector(this.getAttribute('href')).scrollIntoView({
                    behavior: 'smooth'
                });
            });
        });

        document.getElementById("year").textContent = new Date().getFullYear();

    </script>

</body>

</html>